    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.marketeer.com" class="simple-text">
                <div class="logo-img">
                    <img src="/assets/img/angular2-logo-white.png"/>
                </div>
                VIKING
            </a>
        </div>
        
        <ul class="nav">
            <li class="nav-item" routerLinkActive="active">
            
                <a class="nav-item nav-link" >
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
        </ul>
        
    </div>
